 <% provide(:title, 'About') %>
<div class="hero-unit">
	<h1>About Us</h1>
	<p>
		The <a href="http://tribe21.in/"> Tribe 21</a>
		is a collective consumption inititive to encourage car pooling 
		with <a href="http://tribe21.in/">Car Space</a> for a better, greener and smarter planet.
	</p>
</div>


