 <% provide(:title, 'Help') %>

 <div class="hero-unit">
	<h1>Help Page</h1>
	<p>
		Get help on Car Space at 
		<a href="http://tribe21.in/help">Tribe 21</a>
		To get help on this Car Spcae app, see the
		<a href="http://tribe21.in/book">Collective Consumption Goals</a>
	</p>
</div>




