<footer class="footer" style="position:relative">
	<small>
		<a href="http://tribe21.in/">Car Space</a>
		by Tribe 21
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 	about_path %></li>
			<li><%= link_to "Contact", 	contact_path %></li>
			<li><a href="http://tribe21.in/">News</li>
		</ul>
	</nav>
</footer>